.wrap 
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	
	#pieces 
		border: 1px solid red;
		width: 400px; 
		height: 100%;
		margin: 15px;

		img 
			width: 180px;
	
	#canvasBg 
		border: 1px solid red;
		width: 800px;
		height: 600px;
		margin: 15px;

		// background-image: url("./images/default.jpg");
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: 50% 0;
		// opacity: 0.5;

		
