@import "_navigation"
@import "_content"
@import "_footer"

@import "_fonts"
@import url("https://fonts.googleapis.com/css?family=Lato:100") 

body 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 1s;
	background: #f2f2f2;
	position: relative;
